extends layout

block content
    if !user
        p Please log into the appropriate account if you wish to edit this comment.
    else if user.username === comment.user
        form(action=`/blog/posts/${postID}/comments/${comment._id}?_method=PUT` method="POST")
            p User: #{comment.user}
            label(for="comment")
            textarea(name="comment" required="true") #{comment.comment}
            p Date: #{comment.commentDate}
            button Submit
    else
        p You do not have permission to edit this comment.
