extends layout

block content
    button
        a(href="/blog") HOME
    button
        a(href="/blog/posts") View Posts
    h1 #{post.title}
    p #{post.post}
    p #{post.postDate}
    each comment in post.comments
        p #{comment.user}
        p #{comment.comment}
        p #{comment.commentDate}
        if !user
        else if comment.user === user.username
            form(action=`/blog/posts/${post._id}/comments/${comment._id}?_method=DELETE` method="POST")
                button Delete
            button
                a(href=`/blog/posts/${post._id}/comments/${comment._id}`) Edit
    if user
        form(action=`/blog/posts/${post._id}/comments` method="POST")
            label(for="comment")
            textarea(name="comment" required="true")
            button Submit