extends layout

block content
    button
        a(href='/blog') HOME
    each post in posts_list
        a(href=post.url) #{post.title}
        p #{post.post}
        p #{post.postDate}
        p Comments: #{post.comments.length}